<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}The Russ Martin Show Podcast{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/russcast.css') }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
{% block content %}

{% endblock %}
</div>
<div id="footer" class="container">
    <div class="well">
        <p>Created by <a href="https://twitter.com/phistrom">Phillip Stromberg</a> | Source code for this website is
            available at <a href="https://bitbucket.org/phistrom/russcast">BitBucket</a>:
            <a href="https://bitbucket.org/phistrom/russcast">https://bitbucket.org/phistrom/russcast</a></p>
        <p>The Russ Martin Show is probably some kind of copyright or trademark of Clear Channel.</p>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51474948-1', 'russcast.com');
  ga('send', 'pageview');
</script>
</body>
</html>