{% extends 'base.jinja2' %}
{% block content %}
    <div class="jumbotron">
        <h1>The Russ Martin Show Podcast</h1>
        <p class="lead">A proper podcast for a fantastic show.</p>
    </div>
    <h2>Step 1</h2>
    <blockquote>
    Sign up if you haven't already for an account at <a href="http://www.russmartin.fm/">www.russmartin.fm</a>
    </blockquote>
    <h2>Step 2</h2>
    <blockquote>
        Copy and paste the following URL into iTunes or your favorite podcasting client like
        <a href="http://www.beyondpod.com/Android/">BeyondPod for Android</a>.
    </blockquote>
    <kbd>https://www.russcast.com/podcast.xml</kbd>
    <h2>Step 3</h2>
    <blockquote>
    Enjoy your Russ Martin Show archives podcasts.
    </blockquote>
{% endblock content %}