<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
<channel>
<title>The Russ Martin Show Archives</title>
<link>https://www.russcast.com</link>
<language>en-us</language>
<copyright>Russ Martin Show</copyright>
<itunes:subtitle>The Treehouse</itunes:subtitle>
<itunes:author>Russ Martin</itunes:author>
<itunes:summary>Guys talking about stuff.</itunes:summary>
<description>The Russ Martin Show is a daily talk show on KEGL 97.1 The Eagle
in Dallas, Texas.</description>
<itunes:owner>
    <itunes:name>Russ Martin</itunes:name>
    <itunes:email>support@russcast.com</itunes:email>
</itunes:owner>
<itunes:image href="{{ url_for('static', filename='img/rms.png', _external=True) }}" />
<itunes:category text="Comedy"/>
<itunes:category text="News &amp; Politics"/>
{% for episode in episodes %}
<item>
    <title>{{ episode.date }}</title>
    <itunes:author>Russ Martin</itunes:author>
    <itunes:subtitle>Episode from {{ episode.date }}</itunes:subtitle>
    <itunes:summary>
        {%- if episode.summary -%}
        {{ episode.summary }}
        {%- else -%}
        Episode from {{ episode.date }}
        {% endif %}
    </itunes:summary>
    <enclosure url="{{ episode.uri }}" length="{{ episode.size }}" type="audio/mpeg" />
    <guid>{{ episode.uri }}</guid>
    <pubDate>{{ episode.date.strftime("%a, %d %b %Y %H:%M:%S +0000") }}</pubDate>
    <itunes:duration>{{ episode.duration }}</itunes:duration>
</item>
{% endfor %}
</channel>
</rss>